

.button {
    color:aliceblue;
    background-color: royalblue; 
    margin: 1rem;
    padding: .45rem
}



.field {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.request_item {
    display: flex;
    /* justify-content: flex-start; */
    margin: .5rem;
}

.request_description{
    flex-basis: 80%;
}

.request__delete{
background-color: purple;
color: white;
}

.complete {
 
    background-color: lightcoral;
}