.serviceForm {
   
    

}

.button {
    color:aliceblue;
    background-color: royalblue; 
    margin: 1rem;
    padding: .45rem
}

.submitFields {
   
}

.field {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.input {

}